.hanoi{
	width: 450px;
    overflow: auto;

		width:800px;
	margin:0 auto;
}

.tower{
	float: left;
	margin-right: 200px;
 	display: table;
  	margin: 0 auto;
	height: 300px;
	width: 50px;
	background: white;
	
}

.block{
	height: 50px;
	color: white;
	border-radius: 7%;

}

.wholeThing{

}